html, body{
    width: 100%;
    height: 100%;
    font-family: 'Archivo Narrow', sans-serif;
}
.navbar{
    background-color: rgba(20,20,20,0.8) !important;
}
.navbar li a{
    color: white !important;
}
.navbar li a:hover{
    color: black !important;
}
.carousel-caption{
    position: absolute;
    top: 25%;
}
.carousel-caption h1, .carousel-caption h6{
    text-shadow: 5px 5px 15px #000000;
}
@media(max-width:576px)
{
    .carousel-caption{
        position: absolute;
        top: 50%;
    }
    .carousel-caption h1{
        font-size:150% ;
    }
    .carousel-caption h6{
        font-size:100% ;
    }
}
.latest{
    margin-top: 8rem;
}
.dhr hr{
    border-top: 1px solid  rgba(20,20,20,0.5);
    width: 90%;
    margin: 2rem;
}
.work_image_warp img {
    object-fit: cover;
    margin-bottom: 1rem;
}
.work_image_warp:hover img{
    transform: scale(1.1);
    transition: all 0.3s;
}
.aboutus{
    margin-top: 8rem;
}
@media(max-width:576px)
{
    .sec-text{
        padding-top: 2rem;
    }
}